<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admi Index</title>
</head>
<body>
    <p  style="background-color: whitesmoke;">
        <a href="Dashboard.html"><b style=" font-size: xx-large; margin-right: 70%;"><i>ABC RESTAURENT</i></b></a>
    </p>
    <center>
    <a href="viewbooktable.php">Table Reservation</a>
    <a href="viewfeedback.php" style="margin: 3%;">See Feedback</a>
    <a href="...">Privacy Ploicy</a>
    <a href="notification.html" style="margin: 3%;">Send Notification</a>
    <a href="viewnotification.php">View Notification</a>

</center>
    
</body>
</html>