<!DOCTYPE html>
<html>
<head>
    <title>Notification</title>
</head>
<body >

    <p style="background-color: whitesmoke;">
        <a href="Dashboard.html"><b style=" font-size: xx-large; margin-right: 70%;"><i>ABC RESTAURENT</i></b></a><br><br>
       </p><br>
    <center>
        <a href="#">Track Order</a>
    </center>
    
<center>
    <form action="../Controller/NotificationCheck.php" method="post">
        <fieldset style="height: 300px; width:500px">
        <style></style>
            <legend align="center"><h1>Give Notification</h1></legend>
                <table>
                    <tr>
                        <td>write here: <br>
                        <textarea name="notification" cols="70" rows="10" ></textarea></td>
                        
                    </tr>
                    <tr>
                        <td colspan="2"><hr style="width:533px" align="left"></td>
                    </tr>
                    <tr>
                        <td colspan='2' align="center"><input type="submit" name="submit" value="submit"></td>
                    </tr>
                </table>
        </fieldset>
    </form>
    </center>
</body>
</html>
