<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pribacy Policy</title>
</head>
<body>

    <p  style="background-color: whitesmoke;">
        <a href="Dashboard.html"><b style=" font-size: xx-large; margin-right: 70%;"><i>ABC RESTAURENT</i></b></a>
    </p>
    <a href="Dashboard.html">Home</a>
    <br>
    <center>
    <p>
        <b>Privacy Policy for ABC Restaurant</b><br>
        At ABC Restaurant, we are committed to protecting the privacy and confidentiality of our<br> customers' personal information. This Privacy Policy outlines the types of personal information<br> we collect, how we use it, and the measures we take to safeguard your information. <br><br>
        
        <b>Information We Collect: </b><br>
        We may collect the following types of information from our customers: <br>
        - Personal Information: Name, email address, phone number, postal address. <br>
        - Reservation Details: Date, time, and number of guests for reservations. <br>
        - Payment Information: Credit/debit card details for transactions. <br>
        - Preferences: Dietary preferences or special requests. <br><br>
        
        <b>How We Use Your Information:</b> <br>
        - To fulfill reservations and provide dining services. <br>
        - To process payments and carry out transactions. <br>
        - To communicate with you regarding reservations, promotions, and updates. <br>
        - To improve our services and enhance the customer experience. <br>
        - To comply with legal requirements. <br><br>
        
        <b>Information Sharing: </b><br>
        We do not sell, trade, or otherwise transfer your personal information to outside parties without <br>your consent, except for the purpose of providing services to you (e.g., processing payments, <br> making reservations) or as required by law. <br><br>
        
        <b>Data Security: </b><br>
        We implement a variety of security measures to maintain the safety of your personal information <br>when you make a reservation or enter, submit, or access your information. We use secure <br>payment gateways and encryption protocols to protect sensitive information. <br><br>
        
        <b>Cookies and Tracking Technologies: </b><br>
        Our website may use cookies and similar tracking technologies to enhance user experience. You <br>can manage your cookie preferences through your browser settings. <br><br>
        
        <b>Third-Party Links: </b><br>
        Our website or communication may contain links to third-party websites. We are not responsible<br> for the privacy practices or the content of such third-party sites. We encourage you to review<br> their privacy policies. <br><br>
        
        <b>Changes to the Privacy Policy: </b><br>
        We reserve the right to update our Privacy Policy. Any changes will be posted on this page with <br>an updated effective date. <br><br>
        
        <b>Contact Us: </b><br>
        If you have any questions or concerns regarding this Privacy Policy or the use of your <br>information, please contact us at [Contact Information]. <br><br>
        
        By using our services, you consent to the terms of this Privacy Policy. <br><br>
        
        ABC Restaurant reserves the right to update and modify this Privacy Policy as needed, so we<br> encourage you to review it periodically for any changes. <br><br>
        
        Thank you for trusting us with your information.
        

    </p>
</center>   
</body>
</html>