body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #EF6C00;
    margin: 0;
    padding: 0;
}

.booking-form {
    background: linear-gradient(to bottom, #fff, #FDFDFD);
    border: 2px solid green;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 8px;
    background-color: #F9F9F9;
}

input[type="submit"] {
    background-color: green;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: green;
    transition: background-color 0.3s, color 0.3s;
}

legend {
    color: black; 
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
