<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <script src="../JS/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/Signup.css">

</head>
<body>

              
              <form action="../Controller/SignupCheck.php" method="post" enctype="multipart/form-data" onsubmit="return validationform()">
                <center>
                <fieldset>
                <h2 align="center">Sign Up</h2>
                <table align="center">

                  <tr>
                    <td><label for="FirstName">First Name</label></td>
                    <td><input type="text" name="firstname" id="firstname" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="LastName">Last Name</label></td>
                    <td><input type="text" name="lastname" id="lastname" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="UserName">User Name</label></td>
                    <td><input type="text" name="username" id="username" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="email">E-mail</label></td>
                    <td><input  type="email" name="email" id="email" style="width: 96%;"/></td>      
                  </tr>
                  <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" name="password" id="password" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="password">Confirm Password</label></td>
                    <td><input type="password" name="cpassword" id="cpassword" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="gender" id="gender">Gender</label></td>
                    <td>
                    <input type="radio" name="gender" value="male" class="gender"/>Male
                    <br><input type="radio" name="gender" value="female"class="gender"/>Female
                    <br><input  type="radio" name="gender" value="others"class="gender"/>Others
                  </td>
                  </tr>
                  <tr>
                    <td><label for="number">Phone Number</label></td>
                    <td><input type="text"   name="phone" id="phone" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td colspan="2"><center><input type="submit" name="submit" id="submit" value="Sign Up" style="margin:1%;"></center></td>
                    <h2 id="print" style="color: red;"></h2>
                  </tr>
                </table>
				        <p align="center">Already have an acccount?<a href="login.html">Log In</a></p>
                </fieldset>
              </center>
              </form>
</body>
</html>
